@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.primeira_parte{
    text-align: center;
    height: auto auto;
    background-image: linear-gradient(180deg, rgb(129,127,254), darkblue);
    padding-bottom: 10%;
    align-items: center;
}
.faculmax{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 64px;
    /* color: white; */
    font-weight: 400;
    color: white;
}

.subtitulo{
  font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    /* color: white; */
    font-weight: 400;
    line-height: 29px;
    color: white;
}

.segunda_parte{
    background-image: linear-gradient(180deg, darkblue, white);
    padding-bottom: 15%;
    /* position: relative; */
    text-align: center;
    
}
.melhore{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  color: white;
  font-weight: 400;
  line-height: 43px;
}

.diga{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 400;
  line-height: 29px;
}
.btn-login{
  height: 80%;
  width: 300px;
  background-color: rgb(126, 123, 255);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  
}
#btn-login:hover{
  background-color: hsl(241, 97%, 70%);
}
#btn-pronto{
  height: 80%;
  width: 150px;
  background-color: rgb(126, 123, 255);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}
#btn-pronto:hover{
  background-color: hsl(241, 97%, 70%);
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  
  .carrosel{
    margin-top: 30px;
    max-width: 40%;
    max-height: 40%;
    align-items: center;
    background-color: white;
    border: darkblue solid 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

  }
  .nome{
    height: 130%;
    width: 50% ;
    margin-left: 50%;
  }
  .email{
    height: 130%;
    width: 50% ;
    margin-right: 50%;
  }
  .formulario{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .mensagem{
    margin-left: 24%;
  }
  
  .formularioMensagem{
    height: 100%;
  }
  .areas-do-conhecimento{
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 24px;
  }
  #nomeEmail{
    margin: 0%;
  }
  #head-letras{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
  }
  #margem,#margemPrincipal, #margemLog{
   border: darkgray solid 1px;
    border-radius: 5px;
    margin: 3px;
    
  }
 
  #margem:hover{
    background-color: rgb(127, 123, 123) ;
  }
  #margemPrincipal:hover{
    background-color: rgb(127, 123, 123) ;
  }
  #margemLog:hover{
    background-color: rgb(127, 123, 123) ;
  }


  #verCursos{
    color: white !important;

  }
  #linkAreas{
    text-decoration: none;
    color: black;
  }
 #espacoPad>h1{
   padding-top: 10px;
 }
 #btn-voc,#btn-curso{
   margin: 5px;
 }

