@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    body{
        background-image: linear-gradient(180deg, rgb(129,127,254), darkblue);
        padding-bottom: 10%;
        align-items: center;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    h1::after{
        content: '';
        width: 200px;
        height: 5px;
        background: #fff;
        display: block;
        margin: 0 auto;
        box-shadow: 2px 5px 5px black;
    }
    .container{
        color:#fff;
        text-align: center;
        text-shadow: 2px 5px 5px black;
    }
    .Bloco0_label{
        color: #fff;
        text-align: center;
    }
    form, .form-quiz {
        background-color: #fff;
        max-width: 700px;
        margin: 50px auto;
        padding: 30px 20px;
        box-shadow: 2px 5px 10px black;
    }
    .form-control {
       text-align: left;
       margin-bottom: 25px;
    }
    .caixa{
        transition-duration: 0s;
    }
    .form-control label {
        display: block;
        margin-bottom: 10px;
    }
    .form-control input, .form-control textarea, .form-quiz {
        border: 1px solid #777;
        border-radius: 2px;
        font-family: inherit;
        padding: 10px;
        display: block;
        width: 95%;
    }

    /* dialog */

    .dialog {
        display: none;
    }

    .dialog-opened {
        display: block;
    }

    .diplay__window{
        display: inline-block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #fff;
        border: 1px solid #777;
        padding: 10px;
        z-index: 101;
        box-shadow: 2px 5px 10px black
    }
    
