@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap%27');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background: white;
    width: 100%;
    background-size: cover;
}
.nome-curso{
    text-align: center;
    font-size: 40px;
    color: black;

}
.o-curso{
    font-size: 20px;
}
p{
    font-size: 17px;
}
.valor{
    font-size: 30px;
    color:green

}
.infos-posicao{
    padding: 20px;
}

.coluna{
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(124,122,242);
}
.col{
    margin: 10px;
}
#margem,#margemPrincipal,#margemLog{
    border: darkgray solid 1px;
     border-radius: 5px;
     margin: 3px;
     cursor:pointer;
     font-size: larger;
   }

   #margem:hover{
     background-color: rgb(127, 123, 123) ;
   }
   #margemLog:hover{
    background-color: rgb(127, 123, 123) ;
  }

   #margemPrincipal:hover{
     background-color: rgb(127, 123, 123) ;
   }